<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addHouseServlet</servlet-name>
    <servlet-class>com.servlet.AddHouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findHouseServlet</servlet-name>
    <servlet-class>com.servlet.FindHouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateHouseServlet</servlet-name>
    <servlet-class>com.servlet.UpdateHouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteHouseServlet</servlet-name>
    <servlet-class>com.servlet.DeleteHouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkInServlet</servlet-name>
    <servlet-class>com.servlet.FindHouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkInDelServlet</servlet-name>
    <servlet-class>com.servlet.CheckIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkOutServlet</servlet-name>
    <servlet-class>com.servlet.FindHouse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkOutDelServlet</servlet-name>
    <servlet-class>com.servlet.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHouseServlet</servlet-name>
    <url-pattern>/addHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findHouseServlet</servlet-name>
    <url-pattern>/findHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateHouseServlet</servlet-name>
    <url-pattern>/updateHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteHouseServlet</servlet-name>
    <url-pattern>/deleteHouseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkInServlet</servlet-name>
    <url-pattern>/checkInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkInDelServlet</servlet-name>
    <url-pattern>/checkInDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkOutDelServlet</servlet-name>
    <url-pattern>/checkOutDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkOutServlet</servlet-name>
    <url-pattern>/checkOutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>